{% extends 'rating_app/base.html' %}
{% load static %}
{% block rating_page %}
<section class="wrapper">
    <h1 class="movie-header">Выберите нужный фильм</h1>
    <a class="go_back" href="{% url 'movies:rating_page' %}">Вернуться</a>
    <form class="choose-form" action="{% url 'movies:choose_page' %}" method="post">
        {% csrf_token %}
        <div class="main-table">
            <div class="tbl-header">
                <table>
                    <thead>
                        <tr>
                            <th>Постер</th>
                            <th>Фильм</th>
                            <th>Год</th>
                            <th>Ссылка</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table>
                    <tbody>
                    {% for item in films_data %}
                        <tr>
                            <td>
                                <img src="{{item.poster_preview}}" alt="poster">
                            </td>
                            <td>
                                <input style="display: none;" type="text" name="rating" value="{{rating}}">
                                <input type="radio" name="film" value="{{item.kp_id}}">
                                <label for="film">{{item.ru_name}}</label>
                            </td>
                            <td>{{item.year}}</td>
                            <td><a class="movie-link" href="{{item.kp_url}}">Click</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="options">
            <div class="update-btn">
                <button type="submit">Выбрать фильм</button>
            </div>
            <div class="choose_id">
                <a class="go_back" href="{% url 'movies:rating_page' %}">Найти по id</a>
            </div>
        </div>
        </iframe>
    </form>
</section>
{% endblock %}